/* Styling for hela sidan */
body {
  background-color: lightblue;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styling för headern */
header {
  background-color: darkblue;
  padding: 40px;
  color: white;
  text-align: center;
}

/* Styling för orkestern */
.orchestra {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.button-container {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styling för varje enskild knapp */
button {
  background-color: orange;
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 5%;
  border: 3px solid black;
  font-size: 40px;
}

/* Här har vi skapat en klass som du kan
använda dig av för att växla bakgrundsfärgen */
.green-button {
  background-color: green;
}